@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
#show-input,#panel{
    display: none;
}
.logo{
    font-family: 'Cherry Bomb One', cursive;
}
/* preloader */
.preload{
    background: white url('./assets/Loading_icon.gif') no-repeat center;
    background-size: 200px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 200;
    display: none;
}
.close{
    display: none;
}
dialog{
    opacity: 0;
    scale: 0;
    display: block;
    transition: all 2.5s;
}
dialog[open]{
    opacity: 1;
    scale: 2;
}
/* dialog::backdrop{
    background-color: rgb(122, 14, 223, 0.2);
} */