@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
#show-input,#panel{
    display: none;
}
.logo{
    font-family: 'Cherry Bomb One', cursive;
}